.loginWrapper {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

  }

 
.button-wrapper {
  text-align: center;
}

  .welcome-wrapper {
    text-align: center;
    font-style: normal;
    color: #361A4D;

  }

  .login-spacer {
    margin-top: 20px;
  }

.loginImg {
width: 100%;
height: 100vh;
background: url(../assets/Images/login/login-pic.jpg);
background-size: cover;
opacity: .6;
filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25))
}

/* hide image on tablets and phones  */

@media screen and (max-width: 1200px)  {
  .loginWrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    height: 100vh;
  }

  .loginImg {
    display: none;
  } 
}


.landing-page-input-label {
  margin-bottom: 3px;
  margin-left: 3px;
  color: #361A4D;
  border-radius: 10px;
  font-family: 'GothicBold';
}

.landing-page-small {
  margin-left: 3px;
  color: #361A4D;
  font-size: .8rem;
}

.login-checkboxWrapper {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
}


.welcome-text  {
  font-size: 36px;
  display: inline;
}

.welcome-wrapper p {
  font-size: 1.2rem;
}

.landing-page-input-field {
background: #FDFBFF;
border: 1px solid #361A4D;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 563px;
height: 51px;
}

button {

width: 320px;
height: 51px;
margin: 30px 0;
background: #2C1320;
/* border: 1px solid rgba(54, 26, 77, 0.5); */
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
color: white;
font-size: 24px;
font-family: 'GothicBold';
}

button:active {
  background: rgba(44, 19, 32, 0.8);
}

button:hover {
  background: rgba(44, 19, 32, 0.7);
}

button:disabled,
button[disabled]{
  background: rgba(44, 19, 32, 0.4);
}

.strike-through-up {
  width: 150px;
  display: inline;
  position: absolute;
  background-color: red;
  color: red;
  border-color: red;
  transform: translate(-10px, 8px) rotate(-12deg) ;
}

.strike-through-down {
  width: 150px;
  display: inline;
  position: absolute;
  background-color: red;
  color: red;
  border-color: red;
  transform: translate(-10px, 8px) rotate(12deg) ;
}

.to-school {
  font-family:'Gloria', sans-serif;
  font-size: 36px;
  position: absolute;
  transform: translate(-200px, -60px) rotate(12deg) ;
  min-width: 300px;
}

.show-hide {
  position: absolute;
  transform: translate(-30px, 15px);
  width: 50px;
  height:20px;
  /* background-image: url("../assets/Images/login/NotSeePassword-2.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* narrow width to fit on phones  */

@media screen and (max-width: 600px)  {
  .landing-page-input-field {
    width: 300px;
  }

  .to-school {
    font-size: 24px;
    position: absolute;
  }

  .welcome-text {
    font-size: 28px;
  }

  .strike-through-up, .strike-through-down {
    width:110px;
  }

  .welcome form {
    padding: 5px;
  }

}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
}
input[type=checkbox]:checked {
  background-image: url(../assets/Images/login/checkbox-checked.svg);
  width: 22px;
}
input[type=checkbox]:not(:checked) {
  background-image: url(../assets/Images/login/checkbox.svg);
  width: 22px;
}

input[type=checkbox][disabled]{
  background-image: url(../assets//Images//login/checkboxdisabled.svg);
  width: 22px;
}


.loginWrapper input[type=text], .loginWrapper input[type=password], .loginWrapper input::placeholder {
  font-size: 18px;
  padding: 7px;
}

.landing-page-input-area input:focus{
  outline: none;
  border: 3px solid;
}