
/* colours  */

main {
    margin-top: 200px;
}


#navbar {

    width: 100%;
    height: 110px;
}


.nav-item {

    background-color: var(--beige);
    border: 1px solid var(--red);
    padding: 10px;
}


/* LAYOUT AND RESPONSIVENESS  */

.nav-header {
    background-color: var(--darkpurple);
    color: white;
    text-align: center;
    padding: 40px;
}

.nav-link {
    font-size: small;
}

#navbar {
    position: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


.nav-list {
    display: grid;
    position: fixed;
    top: 0;
    left:0;
    width: 95vw;
    margin-top: 110px;
    list-style: none;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-auto-rows: 50px;
    padding: 0 0 30px 0;
    display:none;
}

.nav-list {
    display: grid;
    margin-top: 0;
    position: static;
    grid-template-columns: repeat(6,16%);
    list-style: none;
    padding: 0;

}



/* tablets and computers */

@media screen and (min-width: 678px) {


    .nav-list {
        margin: 0;
    }

    .nav-link {
        font-size: large;
    }


    .nav-list {
        display: grid;
        margin-top: 0;
        position: static;
        grid-template-columns: repeat(6,16%);
        list-style: none;
        padding: 0;

    }

    .nav-item {
        padding: 30px;
    }

}

.main-page {
    text-align: center;
    margin-top: 200px;
}

